<div id="page-preloader">
  <div class="wrap-div">
    <div class="div">
      <span class="span"></span>
      <span class="span"></span>
    </div>
    <div class="div">
      <span class="span"></span>
      <span class="span"></span>
    </div>
    <div class="div">
      <span class="span"></span>
      <span class="span"></span>
    </div>
    <div class="div">
      <span class="span"></span>
      <span class="span"></span>
    </div>
  </div>
</div>
<nav class="mobile-menu">
  <div class="inner-mnu">
    <div class="logo-mob" data-menuanchor="we_are">
      <a href="#we_are">
        <img src="/assets/logo.png">
      </a>
    </div>
    <ul>
      <li data-menuanchor="how_it_works">
        <a href="#how_it_works">How it works</a>
      </li>
      <li data-menuanchor="features">
        <a href="#features">Features</a>
      </li>
      <li data-menuanchor="blog">
        <a href="#blog">Blog</a>
      </li>
      <li data-menuanchor="contacts">
        <a href="#contacts">Contacts</a>
      </li>
    </ul>
    <!--<div class="soc">-->
    <!--	<div class="vk">-->
    <!--		<a href><img src="img/vk.png"></a>-->
    <!--	</div>-->
    <!--	<div class="insta">-->
    <!--		<a href><img src="img/insta.png"></a>-->
    <!--	</div>-->
    <!--</div>-->
  </div>
</nav>
<div class="page">
  <div class="blocker"></div>
  <div id="my-icon" href="#my-menu" class="hamburger hamburger--slider visible-xs">
			<span class="hamburger-box">
				<span class="hamburger-inner"></span>
			</span>
  </div>
  <nav class="top-mnu hidden-xs">
    <div class="container">
      <div class="row">
        <div class="logo" data-menuanchor="we_are">
          <a href="#we_are"><img src="/assets/logo.png"></a>
        </div>
        <ul>
          <li data-menuanchor="how_it_works"><a href="#how_it_works" class="link link-c2">How it works</a></li>
          <li data-menuanchor="features"><a href="#features" class="link link-acc">Features</a></li>
          <li data-menuanchor="blog"><a href="#blog" class="link link-c3">Blog</a></li>
          <li data-menuanchor="contacts"><a href="#contacts" class="link link-acc">Contacts</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="subject-success">
    Ваша заявка отправлена, мы свяжемся с Вами в ближайшее время
  </div>
  <div class="content">
    <main>
      <header class="sect" id="block-1" data-section-name="we_are">
        <div class="container">
          <div class="row">
            <div class="desc">
              <div class="title">
                <h1 class="h1">Learn more today!</h1>
                <h2 class="h2">Learn more everyday without all the stress!</h2>
              </div>
              <div class="title-bottom">
                <p>
                  We're on mission to spread meaningfull content supposed to help people to achieve their personal &
                  business goals faster.<br>
                  Try it yourself and let us know.
                </p>
                <form>
                  <input type="email" name="name" placeholder="Enter your e-mail" class="left-input">
                  <div class="btn right-input">
                    <input type="submit" name="" value="Subscribe">
                  </div>
                </form>

                <div class="coming">Coming soon to</div>
                <div class="buttons">
                  <a href=#><img src="/assets/apple.png"></a>
                  <a href=#><img src="/assets/google.png"></a>
                </div>
              </div>
            </div>
            <div class="img">
              <img src="/assets/img1.svg" class="img-1">
            </div>
          </div>
        </div>
      </header>
      <section class="sect about" id="block-2" data-section-name="how_it_works">
        <div class="container">
          <div class="row">
            <div class="img">
              <img src="/assets/img2.svg" class="img-2">
            </div>
            <div class="desc">
              <h3 class="h3">No times to waste?<br>1 hour a day gives<br>the immidiate result</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="sect about" id="block-3" data-section-name="features">
        <div class="container">
          <div class="row">
            <div class="desc">
              <h3 class="h3">Only best practices<br>curated by<br>industry specialists</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                ut aliquip ex ea commodo consequat.
              </p>
            </div>
            <div class="img">
              <img src="/assets/img3.svg" class="img-3">
            </div>
          </div>
        </div>
      </section>
      <section class="sect about" id="block-4" data-section-name="blog">
        <div class="container">
          <div class="row">
            <div class="img">
              <img src="/assets/img4.svg" class="img-4">
            </div>
            <div class="desc">
              <h3 class="h3">Don't know how to start?<br> The app gives some ideas<br>according to your profile</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </div>
      </section>
      <footer class="sect" id="block-5" data-section-name="contacts">
        <div class="container">
          <div class="row">
            <div class="footer-title">
              <div class="footer-img">
                <img src="/assets/img5.svg">
              </div>
              <h3 class="h3">Stop thinking about the future<br>Start building your future now!</h3>
              <div class="h5">Subscribe and get news and updates first, including 3 mounth free since v 1.0</div>
              <form>
                <input type="email" name="name" placeholder="Enter your e-mail" class="left-input">
                <div class="btn right-input">
                  <input type="submit" name="" value="Subscribe">
                </div>
              </form>
              <div class="h5">Coming soon to</div>
              <div class="buttons">
                <a href="#">
                  <img src="/assets/apple.png">
                </a>
                <a href="#">
                  <img src="/assets/google.png">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="made">made in <a href="http://multikey.studio/" target="_blank" class="link-c3">multikey.studio</a>
        </div>
      </footer>
    </main>
  </div>
  <div id="toTop" data-menuanchor="we_are">
    <a href="#we_are">
      <svg class="up" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 255 255" xml:space="preserve">
        <g id="arrow-drop-up">
          <polygon class="up-poligon" points="0,191.25 127.5,63.75 255,191.25"/>
        </g>
      </svg>
    </a>
  </div>
</div>

<link rel="stylesheet" href="/assets/main.min.css">
<script src="/assets/scripts.min.js"></script>
<script src="/assets/common.js"></script>