<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title>Buseedo</title>
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-title" content="Buseedo">
  <meta name="application-name" content="Buseedo">
  <meta property="og:image" content="path/to/image.jpg">
  <link rel="shortcut icon" href="/assets/favicon/cup.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/assets/favicon/cup.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/cup.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/cup.png">

  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#000">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#000">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="#000">

  <style>
    body {
      opacity: 0;
      overflow-x: hidden;
    }

    html {
      background-color: #fff;
    }

    #page-preloader {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: #15171f;
      z-index: 100500;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>

  <title>Buseedo</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= render 'analytics/google_analytics' %>
</head>

<body>
<%= yield %>
</body>
</html>